/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

span {
    user-select: none;
    -user-select: none;
    -select: none;
    -select: none;
    
}

.file-explorer {
    flex: 1; 
    background-color: lightgreen;
    overflow-x: auto; 
    overflow-y: auto;
}

/* Directory items */
.item-text {
    color: darkred; 
    margin: 5px 0px 5px 20px;
}

.item-text-selected {
    color: red; 
    margin: 5px 0px 5px 20px;
}

.right-click-menu {
    position: absolute;
    background: white;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.dialog {
    position: fixed; /* Stay in place */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
