/* App-wide styling */
:root {
    --background-color: #0f1116;
    --text-color: #ffffff;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --link-color: white;
    --link-hover-background: rgba(56, 62, 105, 0.2);
    --link-hover-color: rgb(56, 62, 105);
    --side-panel-icon-hover-background: rgba(58, 105, 56, 0.2);
    --side-panel-icon-hover-margin-color: rgb(56, 105, 93);
    --side-panel-icon-selected-background: rgba(56, 62, 105, 0.4);
    --side-panel-icon-selected-margin-color: rgb(56, 62, 105);
}

#hero {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px 0px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}

span {
    user-select: none;
    -user-select: none;
    -select: none;
    -select: none;
    
}

.file-explorer {
    flex: 1; 
    background-color: rgb(33, 36, 44);
    overflow: hidden;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

/* Directory items */
.item-text {
    color: white; 
    margin-left: 10px;
    margin-top: 2px;
    padding: 0;
    flex: 1;
    cursor: pointer;
}

.item-text.selected {
    color: red; 
}

.right-click-menu {
    position: absolute;
    background: white;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto; 
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* WebKit-based browsers */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin; /* Make the scrollbar thin */
    scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar thumb and track */
}

.left-panel-slider, .terminal-slider {
    right: 0;
    opacity: 0;
    background: #0099e5;
    transition: 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

.terminal-slider {
    height: 5px;
    cursor: ns-resize; /* Horizontal resize cursor */
}

.left-panel-slider {
    width: 5px;
    cursor: ew-resize; /* Column resize cursor */
}

.left-panel-slider:hover, .terminal-slider:hover {
    opacity: 1;
  transition: 0.3s ease-in-out 0s, opacity 0.3s ease-in-out .3s;
}


/* Side panel icon styles */
.side-panel-icon {
    position: relative; /* Ensure the pseudo-element is positioned relative to the button */
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.side-panel-icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px; /* Width of the colored margin */
    background-color: transparent; /* Initial background color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.side-panel-icon:hover {
    background-color: var(--side-panel-icon-hover-background); /* Subtle background color on hover */
}

.side-panel-icon:hover::before {
    background-color: var(--side-panel-icon-hover-margin-color); /* Change the margin color to match the background color */
}

.side-panel-icon.selected {
    background-color: var(--side-panel-icon-selected-background); /* Background color when selected */
}

.side-panel-icon.selected::before {
    background-color: var(--side-panel-icon-selected-margin-color); /* Margin color when selected */
}

.save-button {
    width: 60px;
    color: lightyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'JetBrains Mono', monospace;
    height: 100%;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.save-button:hover {
    background-color: rgb(92, 63, 63); /* Darken background color on hover */
}

.save-button:active {
    background-color: rgb(44, 44, 44); /* Darken background color on click */
}

/* Tab styles */
.tab {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    min-width: 100px;
    max-width: 175px;
    justify-content: space-between;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.829);
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100%; 
    position: relative; 
    border-radius: 0; 
}

.tab::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px; /* Height of the colored margin */
    background-color: transparent; /* Initial background color */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.tab:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Slightly lighter background on hover */
}

.tab:hover::before {
    background-color: var(--side-panel-icon-selected-margin-color); /* Highlighted margin color on hover */
}

.tab.highlighted::before {
    background-color: var(--side-panel-icon-hover-margin-color); /* Highlighted margin color */
}

.tab.highlighted {
    background-color: var(--side-panel-icon-hover-background); /* Highlighted background color */
}

.tab.non-exists {
    text-decoration: line-through; /* Cross out text */
    color: rgba(255, 0, 0, 0.7); /* Red color for deleted files */
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold-Italic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-ExtraBold.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium-Italic.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }